.cardDestacado {
  font-family: $roboto-family;
  font-weight: $regular;
  background-color: #fff;
  color: black;
  height: 16rem;
  width: 10rem;
  padding: 0 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  border-radius: 4px;
  position: relative;
  &:hover img{
    transform: scale(1.05);
  }
  img{
    width: 100%;
    height:auto;
  }
  div{
    height: auto;
    p{
      text-align: center;
    }
  }
  a{
    position: absolute;
    bottom: .5rem;
    background-color: $bg-main;
    border-radius: inherit;
    color: $white-text;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    width: 90%;
    height: 2rem;
    display: grid;
    place-items: center;
    &:hover{
      color: $primary-color;
    }
  }
  
}
.carouselContainerSlide{
  margin: 0 auto;
}
@media only screen and (max-width: 480px){
  .cardDestacado{
    width: auto;
    margin: 0 4px;
  }
}
@media only screen and (min-width: 1024px) {
  .cardDestacado {
    a {
      opacity: 0;
    }
    &:hover a {
        opacity: 1;
    }
  }
}