.seccionContacto {
    height: 125vh;
    background-image: url("./assets/contacto2.png");
    background-size: cover;
    background-position: center;

    article {
        width: 100%;
        height: 100%;
        background-color: #0008;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .logoFull {
            font-family: $artegra-family;
            display: flex;
            align-items: center;
            align-self: center;
            font-size: 2em;
    
            img {
                width: 100px;
            }
            p {
                font-weight: $bold;
            }
            span {
                font-weight: $regular;
            }
        }

        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            padding-bottom: 1rem;
            border-bottom: 4px solid $primary-color;
        }

        .contactoFormulario {
            width: 80vw;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            gap: 10vw;

            h3 {
                font-size: 1.75em;
                margin-bottom: 1em;
            }

            .inputContainer {
                display: flex;
                flex-direction: column;
                gap: .5em;
                margin-bottom: 1.2em;

                input, textarea {
                    color: $white-text;
                    font-size: 1em;
                    background-color: transparent;
                    border: 1px solid $primary-color;
                    border-radius: 4px;
                    resize: none;
                    padding: 10px;
                }
                label {
                    font-size: .8em;
                }
            }

            button {
                background-color: $primary-color;
                color: $bg-main;
                font-weight: 700;
                text-transform: uppercase;
                border: none;
                border-radius: 25vh;
                padding: .7em 0;
                cursor: pointer;
                width: 100%;
            }

            .contactoInfo {
                display: none;
                list-style: none;
                justify-self: center;
                align-self: center;

                li {
                    padding: 1em;
                    font-size: 1.2em;
                }
            }
        }
    }
}
.legend-form{
    font-family: $roboto-family;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    margin: 10%;
    p{margin: 22px;}
    a{
        text-decoration: none;
        font-size: .7em;
        font-weight: $bold;
        background-color: $secondary-color;
        border-radius: 10vw;
        padding: .4em 1.5em;
        color: $bg-main;
        &:hover{
            background-color: transparent;
            border: 2px solid $secondary-color;
            color: $secondary-color;
        }
    }
}
@media only screen and (min-width: 768px) {
    .seccionContacto {
        background-position: center;
        article {
            .contactoFormulario {
                button {
                    width: 20%;
                }
                .contactoInfo {
                    display: unset;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .seccionContacto {
        background-position: center;
        article {
            .contactoFormulario {
                grid-template-columns: 1fr 1fr;
                button {
                    width: 30%;
                }
                .contactoInfo {
                    display: unset;
                }
            }
        }
    }
}