@import "global";

.seccionProductos {
    padding: .5rem;
    
    h1 {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 2rem;
    }

    ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: .25rem;

        margin: auto;
        margin-bottom: 2rem;
        max-width: 60vw;
        text-align: center;

        li {
            border: 1px solid $primary-color;
            border-radius: 50vh;
            padding: 3px 12px;
        }

        a {
            color: $bg-second;
            background-color: $bg-main;
            text-decoration: none;

            &:hover {
                color: $primary-color;
            }
        }
        a.categoriaActual {
            color: $primary-color;
            background-color: $bg-main;
        }
    }
}

.listaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cardProductos {
    width: 180px;
    height: 300px;
    padding: .2em;
    background-color: $white-text;
    color: $bg-main;
    text-align: center;
    border-radius: 4px;
    transform: scale(.95);
    transition: transform 100ms ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: scale(1.05);
    }

    a {
        display: none;
        background-color: $bg-main;
        border-radius: inherit;
        height: 45px;
        color: $white-text;
        text-decoration: none;
        font-weight: 700;

        display: grid;
        place-items: center;
        &:hover{
            color: #2cdb69;
        }
    }
}
@media only screen and (min-width: 1024px) {
    .seccionProductos{
        padding: 2rem;
    }
    .cardProductos {
        a {
            opacity: 0;
        }
        &:hover a {
            opacity: 1;
        }
    }
}