// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

// Font-family Variables
$roboto-family: 'Roboto', sans-serif;
$roboto-condensed-family: 'Roboto Condensed', sans-serif;
$artegra_family: 'Artegra-sans';
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;


// Color Variables

$primary-color: #2cdb6a;
$secondary-color: #f9941d;
$white-text: #fff;
$bg-main: #000;
$bg-second: #4a4a4a;

@font-face {
  font-family: 'Artegra-sans';
  src: url("./font/artegraFont/Fontspring-DEMO-artegra_sans-400-regular.otf") format("opentype"),
  url("./font/artegraFont/Fontspring-DEMO-artegra_sans-sc-700-bold.otf") format("opentype")
  
}