@import "../../global";

.slider{
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}
b{
    color: $primary-color;
}

.slide{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all .5s ease;

    img {
        object-fit: cover;
    }
}

@media screen and (min-width: 600px) {
    .slide img{
        width: 100%;
        height: 100%;
    }
}

.slide img{
    height: 100%;
}

.content {
    position: absolute;
    font-family: $roboto-family;
    font-weight: $black;
    font-size: 2rem;
    top:10rem;
    left: 5rem;
    opacity: 0;
    // width: 50%;
    text-transform: uppercase;
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes slide-up {
    0% {
        visibility: visible;
        top: 20rem;
    }
    100% {
        visibility: visible;
        top: 10rem;
    }
}

@media screen and (max-width: 600px) {
    .content {
        width: 80%;
    }
}

.content > * {
    color: $white-text;
    margin-bottom: 1rem;
}

.current{
    opacity: 1;
    transform: translateX(0);
}

.current .content {
    opacity: 1;
}

.arrow {
    color: #fff;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 35%;
    z-index: 999;
}
.arrow:hover {
    color: $primary-color;
}
.next {
    right: 1.5rem;
}
.prev{
    left: 1.5rem;
}